.title1 {
    text-align: left;
    color: #269CEB;
    margin-top: 0px;
    clear: both;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.title2 {
    text-align: left;
    color: #FF9D00;
    margin-top: 0px;
    clear: both;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.align-center {
    display: flex;
    justify-content: center;
}